body, html, .wrapper{
    height: 100%;
}

.top-border, .bottom-border{
    background-color: red;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;      
    
}


.top-border{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.title{
    color: gold;
    font-size: 40px;
    font-family: cursive;
    font-weight: bold;
    vertical-align: middle;
}

.wrapper{
    border: solid red; 
    border-width: 0 40px 0;
    margin: 0;
    display: grid;    
    outline-color: black;
 }

 .bottom-border{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.reset{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}