body{
    display:flex;
    flex-direction: column;
    background-color: grey;
}

.title{
    color: gold;
    font-size: 40px;
    font-weight: bold;
    text-align: center;  
}

.main{
    height: 50vw;
    width: 50vw;
    max-height: var(--content-width);;
    max-width: var(--content-width);
    margin: 30px auto;
    position: relative;
}

.sketch-box{
    background-color: white;
    display: grid;    
    height: 100%;
    width: 100%;
}

.buttons{
    display:flex;
    justify-content: space-evenly;
    height: 50vw;
    width: 50vw;
    max-height: var(--content-width);;
    max-width: var(--content-width);
    margin: 30px auto;
    
}

.reset, .rainbow, .grey{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}


